<div class="card ms-3">
  <div class="card-body">
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSearch()">
      <div class="d-flex justify-content-start align-items-center row">
        <div class="form-group col-3">
          <label class="label">Đơn vị</label>
          <ng-select [items]="branchs" bindLabel="display_name" bindValue="id" [searchable]="true" formControlName="branch_id"
          [clearable]="false" class=" form-control form-control-sm">
        </ng-select>
        </div>
        <div class="ms-4 mt-2 col-2">
          <button type="submit" [disabled]="isLoading" class="btn btn-primary">Tìm kiếm</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card ms-3 mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-3 form-group">
      <h4></h4>
      <button type="button" class="btn btn-success"  (click)="openForm('Add','')"><i class="fa fa-plus me-1"></i>  Thêm mới</button>
    </div>

    <ngx-spinner bdOpacity=0.5 bdColor="#fff" color="#1825aa" size="medium" [fullScreen]="false">
      <p>Đang tải dữ liệu</p>
    </ngx-spinner>

    <div class="table-responsive min-height-400">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">NHÓM NGHIỆP VỤ</th>
            <th scope="col">LOẠI TIỀN</th>
            <th scope="col">HẠN MỨC BAO NIÊM PHONG</th>
            <th scope="col">TRẠNG THÁI</th>
            <th scope="col">THAO TÁC</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          <ng-container>
            <tr class="text-center">
              <th scope="row"></th>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <button class="btn btn-sm btn-outline-success" (click)="openForm('Edit','')"
                  style="white-space: nowrap;" ngbTooltip="Cập nhật"><i class="fa fa-edit"></i></button>
              </td>
            </tr>
          </ng-container>
        </tbody>

        <tbody class="table-group-divider">
          <tr class="text-center">
            <td colspan="13">Không có dữ liệu</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
<!-- </div> -->