<div mat-dialog-title class="d-flex justify-content-between mb-2">
  <h4 class="title-size">THÊM MỚI BIÊN BẢN GIAO NHẬN</h4>
  <img src="assets/icon/close.png" height="20px" class="cursor-pointer" (click)="closeFormDialog('close')">
</div>

<div class="mat-dialog-content">
  <div class="card">
    <ngx-spinner bdOpacity=0.5 bdColor="#fff" color="#1825aa" size="medium" [fullScreen]="false">
      <p>Đang tải dữ liệu</p>
    </ngx-spinner>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group row g-3">
          <div class="col-4">
            <h4 class="card-title text-uppercase mb-2">THÔNG TIN BIÊN BẢN GIAO NHẬN</h4>
            <div class="form-group">
              <label class="label">Ngày giao dịch</label>
              <input formControlName="delivery_at" type="text" class="form-control form-control-sm" bsDatepicker placeholder="DD/MM/YYYY" />
            </div>

            <div class="form-group">
              <label>Loại giao dịch</label>
              <ng-select [items]="transTypeList" bindLabel="name" bindValue="code" formControlName="tran_type"
                [clearable]=false [selectOnTab]="true" class="form-control form-control-sm">
              </ng-select>
            </div>

            <div class="form-group">
              <label>Số lệnh điều chuyển</label>
              <ng-select [items]="transferList" bindLabel="delivery_no" bindValue="delivery_no"
                formControlName="delivery_no" [clearable]=false [selectOnTab]="true" class="form-control form-control-sm"
                (change)="onGetTransList()">
              </ng-select>
            </div>
          </div>

          <div class="col-4 border-left">
            <h4 class="card-title text-uppercase mb-2">THÔNG TIN ĐƠN VỊ GIAO</h4>

            <div class="form-group">
              <label>Đơn vị</label>
              <input type="text" formControlName="from_branch_id" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
              <label>Người giao</label>
              <input type="text" formControlName="from_delivery_user_id" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
              <label>Người nhận (Tổ điều chuyển)</label>
              <input type="text" formControlName="from_receive_user_id" class="form-control form-control-sm" />
            </div>
          </div>

          <div class="col-4 border-left">
            <h4 class="card-title text-uppercase mb-2">THÔNG TIN ĐƠN VỊ NHẬN</h4>

            <div class="form-group">
              <label>Đơn vị</label>
              <input type="text" formControlName="to_branch_id" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
              <label>Người giao (Tổ điều chuyển)</label>
              <input type="text" formControlName="to_delivery_user_id" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
              <label>Người nhận</label>
              <ng-select [items]="receiveUserList" bindLabel="display_role_name" bindValue="user_name"
                formControlName="to_receive_user_id" [clearable]=false [selectOnTab]="true"
                placeholder="--- Chọn người nhận ---" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.to_receive_user_id.errors }">
              </ng-select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="card mt-3 min-300">
    <div class="card-body">
      <h4 class="card-title text-uppercase mb-2">THÔNG TIN HẠCH TOÁN THU/CHI</h4>
      <mat-tab-group>
        <ng-container *ngFor="let item of transferItem.datas; index as i">
          <mat-tab [label]="item.ccy">
            <div class="form-group row my-3">
              <div class="col-4">
                <label class="label">Tổng tiền</label>
                <input type="text" value="{{ moneyToTextService.formatCurrency(item.data.tran_debit[0]?.total) }}" readonly class="form-control form-control-sm" disabled />
              </div>

              <div class="col-4">
                <label class="label">Số giao dịch hạch toán chi</label>
                <input type="text" value="{{ item.data.tran_debit[0]?.fcc_ref_no }}" readonly class="form-control form-control-sm" disabled />
              </div>

              <div class="col-4">
                <label class="label">Số giao dịch hạch toán thu</label>
                <input type="text" value="{{ item.data.tran_credit[0]?.fcc_ref_no }}" readonly class="form-control form-control-sm" disabled />
              </div>
            </div>

            <h4 class="card-title text-uppercase mb-2 mt-4">CHI TIẾT BẢNG KÊ TIỀN</h4>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2"> STT </th>
                    <th rowspan="2"> Mệnh giá </th>
                    <th [attr.colspan]="item.ccy == 'VND' ? 3 : item.ccy.substr(0,3) != 'XAU' ? 2 : 1"> Tồn quỹ </th>
                    <th [attr.colspan]="item.ccy == 'VND' ? 3 : item.ccy.substr(0,3) != 'XAU' ? 2 : 1"> Chi tiết bảng kê </th>
                    <th rowspan="2"> Thành tiền </th>
                  </tr>
                  <tr>
                    <ng-container *ngIf="item.ccy.substr(0,3) != 'XAU'">
                      <th>Số tồn (lành)</th>
                      <th>Số tồn (rách)</th>
                      <th *ngIf="item.ccy == 'VND'"> Số lượng tiền xu </th>

                      <th>Số tồn (lành)</th>
                      <th>Số tồn (rách)</th>
                      <th *ngIf="item.ccy == 'VND'"> Số lượng tiền xu </th>
                    </ng-container>
                    
                    <ng-container *ngIf="item.ccy.substr(0,3) == 'XAU'">
                      <th>Số miếng</th>

                      <th>Thành chỉ</th>
                    </ng-container>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let v of item.data.def_price_detail; let i = index" class="text-center">
                    <td> {{ i + 1 }} </td>
                    <td> {{ moneyToTextService.formatCurrency(v.price) }} </td>

                    <ng-container *ngIf="item.ccy.substr(0,3) != 'XAU'">
                      <td> {{ moneyToTextService.formatCurrency(v.available_number_heal) }} </td>

                      <td> {{ moneyToTextService.formatCurrency(v.available_number_torn) }} </td>
  
                      <td *ngIf="item.ccy == 'VND'"> {{ moneyToTextService.formatCurrency(v.available_number_coin) }} </td>

                      <td>
                        <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': v.number_heal > 0  && v.available_number_heal < v.number_heal }"
                          mask="separator.0" thousandSeparator="." [(ngModel)]="v.number_heal" (change)="calTotalAmount(v, item.data)" (focusout)="item.number_heal = item.number_heal || 0" />

                        <div *ngIf="v.number_heal > 0  && v.available_number_heal < v.number_heal" class="invalid-feedback">
                          <small *ngIf="v.number_heal > 0  && v.available_number_heal < v.number_heal ">Số tờ kê vượt số tờ tồn quỹ</small>
                        </div>
                      </td>
  
                      <td>
                        <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': v.number_torn > 0  && v.available_number_torn < v.number_torn }"
                          mask="separator.0" thousandSeparator="." [(ngModel)]="v.number_torn" (change)="calTotalAmount(v, item.data)" (focusout)="item.number_torn = item.number_torn || 0" />

                        <div *ngIf="v.number_torn > 0  && v.available_number_torn < v.number_torn" class="invalid-feedback">
                          <small *ngIf="v.number_torn > 0  && v.available_number_torn < v.number_torn ">Số tờ kê vượt số tờ tồn quỹ</small>
                        </div>
                      </td>
  
                      <td *ngIf="item.ccy == 'VND'">
                        <div *ngIf="v.price <= 5000; then thenAllowInput else elseNotAllowInput"> </div>
                        <ng-template #thenAllowInput>
                          <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': v.number_coin > 0  && v.available_number_coin < v.number_coin }"
                            mask="separator.0" thousandSeparator="." [(ngModel)]="v.number_coin" (change)="calTotalAmount(v, item.data)" (focusout)="item.number_coin = item.number_coin || 0" />

                          <div *ngIf="v.number_coin > 0  && v.available_number_coin < v.number_coin" class="invalid-feedback">
                            <small *ngIf="v.number_coin > 0  && v.available_number_coin < v.number_coin ">Số tiền xu kê vượt số tiền xu tồn quỹ</small>
                          </div>
                        </ng-template>
        
                        <ng-template #elseNotAllowInput>
                          <input type="text" class="form-control form-control-sm" mask="separator.0" thousandSeparator="." [(ngModel)]="v.number_coin" disabled readonly />
                        </ng-template>
                      </td>
                    </ng-container>
                    
                    <ng-container *ngIf="item.ccy.substr(0,3) == 'XAU'">
                      <td> {{ moneyToTextService.formatCurrency(v.available_number_heal) }} </td>

                      <td>
                        <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': v.number_heal > 0  && v.available_number_heal < v.number_heal }"
                          mask="separator.0" thousandSeparator="." [(ngModel)]="v.number_heal" (change)="calTotalAmount(v, item.data)" (focusout)="item.number_heal = item.number_heal || 0" />

                        <div *ngIf="v.number_heal > 0  && v.available_number_heal < v.number_heal" class="invalid-feedback">
                          <small *ngIf="v.number_heal > 0  && v.available_number_heal < v.number_heal ">Số miếng kê vượt số miếng tồn quỹ</small>
                        </div>
                      </td>
                    </ng-container>
                    
                    <td class="text-center"> {{ moneyToTextService.formatCurrency(v.total) }} </td>
                  </tr>
                  
                  <tr>
                    <td [attr.colspan]="item.ccy == 'VND' ? 8 : item.ccy.substr(0,3) != 'XAU' ? 6 : 4" class="text-center text-danger fw-bold"> Cộng Thành Tiền </td>
                    <td class="text-center text-danger fw-bold"> {{ moneyToTextService.formatCurrency(item.data.total_all_amount) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4 class="card-title text-uppercase mb-2 mt-4">THÔNG TIN BAO NIÊM PHONG</h4>
            <div class="table-responsive mt-3">
              <table class="table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="text-center">
                      <input type="checkbox" class="form-check-input custom-form-check-input" *ngIf="item.data.sealbags?.length != 0" [checked]="isCheckedAll" (change)="onCheckAll($event, item.data.sealbags)">
                    </th>
                    <th> Mã BNP</th>
                    <th> Tên BNP</th>
                    <th> Giá trị</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="text-center" *ngFor="let b of item.data.sealbags">
                    <td>
                      <input type="checkbox" class="form-check-input custom-form-check-input" [checked]="b.is_checked" (change)="onCheck(b, item.data.sealbags)" />
                    </td>
                    <td> {{ b.name }} </td>
                    <td> {{ b.code }} </td>
                    <td> {{ moneyToTextService.formatCurrency(b.balance) }} </td>
                  </tr>

                  <tr *ngIf="item.data.sealbags?.length == 0">
                    <td colspan="4" class="text-center"> Không có dữ liệu </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</div>

<div mat-dialog-action class="pull-right mt-3">
  <button type="button" class="btn btn-primary me-2" [disabled]="isLoading" (click)="onSubmit()">
    <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoading, '': !isLoading}"></i>
    Lưu
  </button>
  <button type="button" class="btn btn-secondary" (click)="closeFormDialog('close')">Thoát</button>
</div>