<div class="card">
  <div class="card-body">
    <div mat-dialog-title class="d-flex justify-content-between">
      <h4 class="card-title">TẠO ĐƠN VỊ</h4>
      <img src="assets/icon/close.png" height="20px" class="cursor-pointer" (click)="closeFormDialog('close')">
    </div>
    <form class="" [formGroup]="form" (ngSubmit)="onSubmitEdit()">
      <div mat-dialog-content>
        <div class="form-group">
          <label for="name">Kho quỹ tập trung</label>
          <input id="name" class="form-control form-control-sm" formControlName="kqtt_name" disabled="true" />
        </div>
        <div class="form-group">
          <label for="name">Tên đơn vị</label>
          <input id="name" class="form-control form-control-sm" formControlName="branch_name" placeholder="Tên đơn vị"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <small *ngIf="f.name.errors?.required">Vui lòng nhập tên đơn vị</small>
          </div>
        </div>
        <div class="form-group mb-0">
          <label for="code">Trạng thái</label>
          <div class="d-flex justify-content-start">
            <div class="form-check ms-4">
              <input class="form-check-input" type="radio" formControlName="status" [value]="true" id="active_child_create">
              <label class="form-check-label mt-1 ms-2" for="active_child_create">Hoạt động</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="status" [value]="false" id="deactive_child_create">
              <label class="form-check-label mt-1 ms-2" for="deactive_child_create">Tạm ngừng</label>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-footer class="pull-right">
        <button [disabled]="isLoading" class="btn btn-primary" type="submit">
          <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoading, '': !isLoading}"></i>Lưu
        </button>
      </div>
    </form>
  </div>
</div>