<div mat-dialog-title class="d-flex justify-content-between mb-3">
    <div class="d-flex align-items-center ">
      <h4 class="title-size mb-0 me-3">CẬP NHẬT BẢNG KÊ <span class="text-danger">{{ data.item.code }}</span></h4>
      <div [ngClass]="utilService.renderStatusClass(data.statusList, data.item.status).custom_data" class="px-5 py-2 ms-3">
        {{ utilService.renderStatusClass(data.statusList, data.item.status).name }}
      </div>
    </div>
  
    <img src="assets/icon/close.png" height="20px" class="cursor-pointer" (click)="closeFormDialog('close')">
  </div>
  
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-uppercase">Thông tin chung</h4>
  
            <form class="" [formGroup]="form">
              <div class="form-group row g-3">
                <div class="col-4">
                  <label>Loại khách hàng</label>
                  <ng-select [items]="customerTypeList" bindLabel="name" bindValue="code"
                    formControlName="guest" [clearable]=false [selectOnTab]="true"
                    placeholder="--- Chọn loại khách hàng ---" class="form-control form-control-sm">
                  </ng-select>
                </div>
  
                <div class="col-4">
                  <label>Loại bảng kê</label>
                  <input type="text" formControlName="statement_type" class="form-control form-control-sm" />
                </div>
  
                <div class="col-4">
                  <label>Loại tiền</label>
                  <input type="text" formControlName="ccy" class="form-control form-control-sm" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mt-3">
      <div class="card-body ">
        <h4 class="card-title text-uppercase">Thông tin khách hàng</h4>
        <form class="row form-group g-3" [formGroup]="formCustInfo">
          <div class="col-6">
            <label>Họ và tên</label>
            <input type="text" formControlName="full_name" class="form-control form-control-sm" />
          </div>
  
          <div class="col-2">
            <label>Số điện thoại</label>
            <input type="text" formControlName="phone" class="form-control form-control-sm" />
          </div>
  
          <div class="col-2">
            <label>CMND/CCCD/HC</label>
            <input type="text" formControlName="issue_no" class="form-control form-control-sm" />
          </div>
  
          <div class="col-2">
            <label>Ngày cấp</label>
            <input type="text" formControlName="issue_date" class="form-control form-control-sm" />
          </div>
  
          <div class="col-3">
            <label>Nơi cấp</label>
            <input type="text" formControlName="issue_place" class="form-control form-control-sm" />
          </div>
  
          <div class="col-9">
            <label>Địa chỉ</label>
            <input type="text" formControlName="address" class="form-control form-control-sm" />
          </div>
        </form>
      </div>
    </div>
  
    <div class="card mt-3" *ngIf="data.item.tran_debit?.length > 0">
      <div class="card-body ">
        <h4 class="card-title">GIAO DỊCH CHI TIỀN</h4>
  
        <div class="table-responsive mt-3">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="text-center">
                <th scope="col">STT</th>
                <th scope="col">SỐ GIAO DỊCH</th>
                <th scope="col">NỘI DUNG GIAO DỊCH</th>
                <th scope="col">SỐ TIỀN</th>
              </tr>
            </thead>
  
            <tbody class="text-center">
              <tr *ngFor="let item of data.item?.tran_debit, index as i">
                <td> {{ i + 1 }} </td>
                <td>
                    <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': item.trn_ref_no == '' }" [(ngModel)]="item.trn_ref_no" *ngIf="item.func_id == ''" />
                    <span *ngIf="item.func_id != ''"> {{ item.trn_ref_no }} </span>
                </td>
                <td> {{ item.description }} </td>
                <td> {{ moneyToTextService.formatCurrency(item.amount) }} </td>
              </tr>
  
              <tr class="fw-bolder">
                <td colspan="3" class="text-danger"> TỔNG CHI </td>
                <td class="text-danger"> {{ moneyToTextService.formatCurrency(totalDebitAmount) }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="card mt-3" *ngIf="data.item.tran_credit?.length > 0">
      <div class="card-body ">
        <h4 class="card-title">GIAO DỊCH THU TIỀN</h4>
  
        <div class="table-responsive mt-3">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="text-center">
                <th scope="col">STT</th>
                <th scope="col">SỐ GIAO DỊCH</th>
                <th scope="col">NỘI DUNG GIAO DỊCH</th>
                <th scope="col">SỐ TIỀN</th>
              </tr>
            </thead>
  
            <tbody class="text-center">
              <tr *ngFor="let item of data.item?.tran_credit, index as i">
                <td> {{ i + 1 }} </td>
                <td>
                    <input type="text" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': item.trn_ref_no == '' }" [(ngModel)]="item.trn_ref_no" *ngIf="item.func_id == ''" />
                    <span *ngIf="item.func_id != ''"> {{ item.trn_ref_no }} </span>
                </td>
                <td> {{ item.description }} </td>
                <td> {{ moneyToTextService.formatCurrency(item.amount) }} </td>
              </tr>
  
              <tr class="fw-bold">
                <td colspan="3" class="text-danger"> TỔNG THU </td>
                <td class="text-danger"> {{ moneyToTextService.formatCurrency(totalCreditAmount) }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="card mt-3">
      <div class="card-body ">
        <h4 class="card-title">
          TỔNG SỐ TIỀN
          <span class="text-danger fw-bolder"> ({{ transTypeText }}) </span>
        </h4>
  
        <div class="table-responsive mt-2">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td rowspan="2" width="150px" class="text-center fw-bolder">TỔNG SỐ TIỀN</td>
                <td class="text-danger fw-bolder"> {{ moneyToTextService.formatCurrency(totalCreditDebitAmount) }} </td>
              </tr>
              <tr>
                <td class="fw-bolder"> {{ amountText }} </td>
              </tr>
              <tr *ngIf="isShowContent">
                <td class="text-center fw-bolder">NỘI DUNG BẢNG KÊ</td>
                <td>
                  <textarea id="denomination_content" [(ngModel)]="payStatementDescription" [disabled]="true" rows="5" class="form-control form-control-sm"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="card mt-3">
      <div class="card-body">
        <h4 class="card-title text-uppercase">CHI TIẾT BẢNG KÊ TIỀN</h4>
  
        <div class="table-responsive mt-3" style="position: relative;">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th rowspan="2"> STT </th>
                <th rowspan="2"> Mệnh giá </th>
                <th [attr.colspan]="form.value.ccy == 'VND' ? 2 : 1"> Chi tiết bảng kê </th>
                <th rowspan="2"> Thành tiền </th>
              </tr>
              <tr>
                <th> {{ form.value.ccy.substr(0,3) != 'XAU' ? 'Số tờ (lành)' : 'Số miếng' }} </th>
                <th *ngIf="form.value.ccy == 'VND'"> Số lượng tiền xu </th>
              </tr>
            </thead>
  
            <tbody class="text-center">
              <tr *ngFor="let item of data.item.def_price_detai_data, index as i">
                <td> {{i + 1}} </td>
                <td> {{moneyToTextService.formatCurrency(item.price)}} </td>
                <td>
                  <input type="text" class="form-control form-control-sm" [allowNegativeNumbers]="true" [dropSpecialCharacters]="false" mask="separator.0" thousandSeparator="." disabled [(ngModel)]="item.number_heal" />
                </td>
  
                <td *ngIf="form.value.ccy == 'VND'">
                  <div *ngIf="item.price <= 5000; then thenAllowInput else elseNotAllowInput"> </div>
                  <ng-template #thenAllowInput>
                    <input type="text" class="form-control form-control-sm" [allowNegativeNumbers]="true" [dropSpecialCharacters]="false" mask="separator.0" thousandSeparator="." disabled [(ngModel)]="item.number_coin" />
                  </ng-template>
  
                  <ng-template #elseNotAllowInput>
                    <input type="text" class="form-control form-control-sm" [allowNegativeNumbers]="true" [dropSpecialCharacters]="false" mask="separator.0" thousandSeparator="." [(ngModel)]="item.number_coin" disabled readonly />
                  </ng-template>
                </td>
  
                <td class="text-end">
                  <span>{{ moneyToTextService.formatCurrency(item.total) }}</span>
                </td>
              </tr>
  
              <tr>
                <td [attr.colspan]="form.value.ccy === 'VND'? 4 : 3" class="text-danger fw-bolder"> Cộng thành tiền </td>
                <td class="text-end text-danger fw-bolder">{{ moneyToTextService.formatCurrency(totalAmount) }}</td>
              </tr>
  
              <tr>
                <td [attr.colspan]="form.value.ccy === 'VND'? 4 : 3" class="text-danger fw-bolder"> Chênh lệch lẻ </td>
                <td class="text-end text-danger fw-bolder">{{ moneyToTextService.formatCurrency(totalOddAmount) }}</td>
              </tr>
  
              <tr>
                <td [attr.colspan]="form.value.ccy === 'VND'? 4 : 3" class="text-danger fw-bolder"> TỔNG CỘNG </td>
                <td class="text-end text-danger fw-bolder">{{ moneyToTextService.formatCurrency(totalAllAmount) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
  
  
  <div mat-dialog-action class="mt-3 pull-right">  
    <button type="button" class="btn btn-primary me-2" [disabled]="isLoading" (click)="onSubmit()">
      <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoading, '': !isLoading}"></i>
      Cập nhật
    </button>

    <button type="button" class="btn btn-danger me-2" [disabled]="isLoadingCancel" (click)="onCancel()" *ngIf="isCurrentDate">
      <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoadingCancel, '': !isLoadingCancel}"></i>
      Hủy
    </button>

    <button type="button" class="btn btn-secondary" (click)="closeFormDialog('close')">Thoát</button>
  </div>